---
- name: Instalacja i konfiguracja AdGuard Home (Playbook 1)
  hosts: agh  # W Semaphore UI ograniczysz to do grupy 'AGH' lub konkretnego hosta
  become: yes
  vars:
    # Definicja dysków do RAID1 (sprawdź czy nazwy sdb/sdc są poprawne dla Twojego VM)
    disk_1: /dev/sdb
    disk_2: /dev/sdc
    mount_point: /adguardhome
    vg_name: adg_vg
    lv_name: adg_lv
  tasks:
    # ---------------------------------------------------------
    # 1. KONFIGURACJA LVM I RAID1 [cite: 12, 13]
    # ---------------------------------------------------------
    - name: Zainstaluj lvm2 i ufw (wymagane pakiety)
      apt:
        name:
          - lvm2
          - ufw
          - curl
          - tar
        state: present
        update_cache: yes
