---
- name: Konfiguracja Serwera Windows - Część 3 (Storage, Users, Apps)
  hosts: windows 
  gather_facts: no
  vars:
    vm_name: "WINSRV_Wiecek"
    pool_name: "Pool_Wiecek"
    group_name: "Kierownicy_Wiecek"
    share_name: "Projekty_Wiecek"
    share_path: "F:\\Projekty"

  tasks:
   
    - name: Konfiguracja Puli Dyskowej
      ansible.windows.win_shell: |
        $DriveLetter = "F"
        
        
        if ((Get-Partition -DriveLetter $DriveLetter -ErrorAction SilentlyContinue)) {
            Write-Host "Dysk $DriveLetter już istnieje"
            Exit 0
        }

        
        $PhysicalDisks = Get-PhysicalDisk -CanPool $true
        if ($PhysicalDisks.Count -lt 4) {
            Write-Error "Nie znaleziono wystarczającej liczby dysków do utworzenia puli (wymagane 4)."
            Exit 1
        }

        
        $Pool = New-StoragePool -FriendlyName "{{ pool_name }}" -StorageSubsystemFriendlyName "Windows Storage*" -PhysicalDisks $PhysicalDisks
        
        
        $SSDTier = New-StorageTier -StoragePoolFriendlyName "{{ pool_name }}" -FriendlyName "SSDTier" -MediaType SSD -ResiliencySettingName Mirror
        $HDDTier = New-StorageTier -StoragePoolFriendlyName "{{ pool_name }}" -FriendlyName "HDDTier" -MediaType HDD -ResiliencySettingName Mirror

       
        $VirtualDisk = New-VirtualDisk -StoragePoolFriendlyName "{{ pool_name }}" `
            -FriendlyName "vDisk_Wiecek" `
            -StorageTiers @($SSDTier, $HDDTier) `
            -StorageTierSizes @(15GB, 15GB) `
            -WriteCacheSize 1GB

       
        $VirtualDisk | Initialize-Disk -PartitionStyle GPT -PassThru | `
            New-Partition -DriveLetter $DriveLetter -UseMaximumSize | `
            Format-Volume -FileSystem ReFS -NewFileSystemLabel "DataVolume" -Confirm:$false
      register: storage_config
      changed_when: "'Dysk F już istnieje' not in storage_config.stdout"

    
    - name: Utworzenie grupy
      ansible.windows.win_group:
        name: "{{ group_name }}"
        state: present
        description: "Grupa dla kierowników projektu"

    - name: Utworzenie użytkownika Marek Romanek 
      ansible.windows.win_user:
        name: "Marek Romanek"
        password: "Passsword123!"
        state: present
        groups:
          - "{{ group_name }}"
          - "Users"

    - name: Utworzenie użytkownika Jacek Gula 
      ansible.windows.win_user:
        name: "Jacek Gula"
        password: "Passsword123!"
        state: present
        groups:
          - "{{ group_name }}" 
          - "Users"
    - name: Utworzenie katalogu '{{ share_path }}' na dysku F
      ansible.windows.win_file:
        path: "{{ share_path }}"
        state: directory
    - name: Wyłączenie dziedziczenia uprawnień dla katalogu
      ansible.windows.win_acl_inheritance:
        path: "{{ share_path }}"
        state: absent
        reorganize: no
    - name: Pełna Kontrola dla Administratorów
      ansible.windows.win_acl:
        path: "{{ share_path }}"
        user: "Administrators"
        rights: FullControl
        type: allow
        state: present
        inheritance_flags: "ContainerInherit,ObjectInherit" 
        propagation_flags: "None"

  
    - name: Pełna Kontrola dla '{{ group_name }}'
      ansible.windows.win_acl:
        path: "{{ share_path }}"
        user: "{{ group_name }}"
        rights: FullControl
        type: allow
        state: present
        inheritance_flags: "ContainerInherit,ObjectInherit"
        propagation_flags: "None"

    - name: Udostępnienie katalogu jako '{{ share_name }}'
      ansible.windows.win_share:
        name: "{{ share_name }}"
        path: "{{ share_path }}"
        list: yes
        full: "Administrators,{{ group_name }}"
        read: ""
        state: present
    - name: Instalacja aplikacji
      ansible.windows.win_shell: |
        $apps = @(
            "7zip.7zip",
            "Mozilla.Firefox",
            "ISC.Bind"
        )
        
        foreach ($app in $apps) {
            winget list --id $app | Out-Null
            
            if ($LASTEXITCODE -eq 0) {
                Write-Host "$app jest już zainstalowany."
            } else {
                Write-Host "Instalowanie $app"
                winget install --id $app -e --source winget --accept-package-agreements --accept-source-agreements
            }
        }
        
       
        Exit 0
      register: winget_install
      changed_when: "'Instalowanie' in winget_install.stdout"
    - name: Blokada usuwania drukarek
      ansible.windows.win_regedit:
        path: HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Explorer
        name: NoDeletePrinter
        data: 1
        type: dword
        state: present
