---
- name: Instalacja i konfiguracja AdGuard Home (Playbook 1)
  hosts: agh
  become: yes
  vars:
    # Upewnij się, że nazwy dysków są zgodne z Twoim systemem (lsblk)
    disk_1: /dev/sdb
    disk_2: /dev/sdc
    mount_point: /adguardhome
    vg_name: adg_vg
    lv_name: adg_lv

  tasks:
    # ---------------------------------------------------------
    # 1. KONFIGURACJA LVM I RAID1
    # ---------------------------------------------------------
  - name: Zainstaluj wymagane pakiety (lvm2, ufw, tar)
    apt:
      name:
        - lvm2
        - ufw
        - curl
        - tar
      state: present
      update_cache: yes
