---
- name: Instalacja i konfiguracja AdGuard Home
  hosts: agh  
  become: yes
  vars:
    disk_1: /dev/sdb
    disk_2: /dev/sdc
    mount_point: /adguardhome
    vg_name: adg_vg
    lv_name: adg_lv
  tasks:

    - name: Instalacja lvm2 i ufw
      apt:
        name:
          - ufw
          - curl
          - tar
          - lvm2
        state: present
        update_cache: yes
      check_mode: no
    - name: Utworzenie Woluminów PV
      community.general.lvg:
        vg: "{{ vg_name }}"
        pvs:
          - "{{ disk_1 }}"
          - "{{ disk_2 }}"

    - name: Utworzenie Woluminu LV 
      community.general.lvol:
        vg: "{{ vg_name }}"
        lv: "{{ lv_name }}"
        size: 100%FREE
        opts: "--type raid1"
        shrink: false

    - name: Sformatowanie woluminu systemem plików ext4
      filesystem:
        fstype: ext4
        dev: "/dev/{{ vg_name }}/{{ lv_name }}"

    - name: Zamontowanie woluminu w katalogu /adguardhome
      mount:
        path: "{{ mount_point }}"
        src: "/dev/{{ vg_name }}/{{ lv_name }}"
        fstype: ext4
        opts: defaults
        state: mounted

    - name: Pobranie i rozpakowanie AdGuard Home
      unarchive:
        src: https://static.adguard.com/adguardhome/release/AdGuardHome_linux_amd64.tar.gz
        dest: "{{ mount_point }}"
        remote_src: yes
        extra_opts: [--strip-components=1] 
        creates: "{{ mount_point }}/AdGuardHome/AdGuardHome"
    - name: Nadanie uprawnien dla AdGuardHome
      file:
        path: "{{ mount_point }}/AdGuardHome/AdGuardHome"
        mode: '0755'
        state: file
    - name: Instalacja uslugi AdGuard Home
      command: "{{ mount_point }}/AdGuardHome/AdGuardHome -s install"
      args:
        chdir: "{{ mount_point }}"
        creates: /etc/systemd/system/AdGuardHome.service

    - name: Uruchomienie uslugi
      service:
        name: AdGuardHome
        state: started
        enabled: yes
    - name: Zablokowanie ruchu przychodzącego 
      community.general.ufw:
        default: deny
        direction: incoming

    - name: Zezwolenie na ruch wychodzący
      community.general.ufw:
        default: allow
        direction: outgoing

    - name: Zezwolenie na SSH port 22
      community.general.ufw:
        rule: allow
        port: '22'
        proto: tcp

    - name: Zezwolenie na DNS port 53 
      community.general.ufw:
        rule: allow
        port: '53'

    - name: Zezwolenie na Panel Web AdGuard port 3000 80/443 
      community.general.ufw:
        rule: allow
        port: "{{ item }}"
        proto: tcp
      loop:
        - '3000' 
        - '80'   
        - '443' 

    - name: Włączenie zapory ogniowej i ustawienie na start z systemem
      community.general.ufw:
        state: enabled
