---
- name: Aktualizacja Debian
  hosts: agh
  become: yes
  gather_facts: no
  tasks:

    - name: Sprawdzenie czy host jest dostępny (port 22)
      delegate_to: localhost
      wait_for:
        host: "{{ ansible_host }}"
        port: 22
        timeout: 5
        state: started
      ignore_errors: yes
      register: host_status
      become: no

    - name: Powiadomienie o błędzie
      community.general.discord:
        webhook_id: "{{ discord_id }}"
        webhook_token: "{{ discord_token }}"
        username: Semaphore
        content: "Nie można połączyć się z {{ inventory_hostname }}."
      delegate_to: localhost
      become: no
      when: host_status.failed
    - name: Zakończ jeśli host nie odpowiada
      meta: end_play
      when: host_status.failed  
    - name: Zbierz fakty o systemie
      setup:

    - name: Blok aktualizacji
      block:
        - name: Aktualizacja pakietów - "apt-get upgrade"
          apt:
            upgrade: safe
            update_cache: yes
            autoclean: true
            clean: true
            autoremove: true
            dpkg_options: 'force-confold,force-confdef'
          environment: 
            DEBIAN_FRONTEND: noninteractive
          register: upgradeapt
      rescue:
        - name: Powiadomienie o błedzie 
          community.general.discord:
            webhook_id: "{{ discord_id }}"
            webhook_token: "{{ discord_token }}"
            username: Semaphore
            content: "Aktualizacja nie powiodła się"
